<!-- <h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">

  </div>
<% end %>

<%= render "devise/shared/links" %> -->

<%= render 'layouts/header' %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container pt-5 mt-3">
  <div class="row">
  <div class="col-2"></div>
  <div class="col-8">
  <div class="content-section pt-5 mt-5">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create Account  <i class="fa fa-user" style="font-size:45px"></i></legend>
      <div class="form-group">
        <%= f.input :idNumber,
                    required: true,
                    label: "Student Number",
                    autofocus: true ,
                    input_html: { autocomplete: "off",
                                  placeholder: "2000-00000-SJ-0" }%>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <%= f.input :firstName,
                      required: true,
                      label: "First Name",
                      input_html: { autocomplete: "off",
                                    placeholder: "Juan" }%>
        </div>
        <div class="form-group col-6">
          <%= f.input :lastName,
                      required: true,
                      label: "Last Name",
                      input_html: { autocomplete: "off",
                                    placeholder: "Dele Cruz" }%>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email",
                                  placeholder: "juan@test.com" }%>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <%= f.input :course,
                      required: true,
                      collection: Course.order(:name),
                      label: "Course",
                      input_html: { autocomplete: "off" }%>
        </div>
        <div class="form-group col-6">
          <%= f.input :section,
                      required: true,
                      label: "Section",
                      input_html: { autocomplete: "off" }%>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-row">
        <div class="form-group mr-2">
      <%= f.button :submit, "Sign up" %>
      </div>
      <div class="form-group">
        <%= link_to "Back", new_user_session_path, class: "btn btn-primary" %>
      </div>
      </div>
    </fieldset>
    <% end %>
    </div>
    <div class="col-2"></div>
    </div>
  </div>
</div>
