<!DOCTYPE html>
<html lang="en">
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag("notification_mailer") %>
<style>

</style>
</head>
<body>
<div class="logo-container">
    <div class="logo"></div>
    <p class="name">PUPSJ Online Facility and Equipment Reservation</p>
  </div>
  <div class="email-wrapper">
    <header class="confirmation">
      <p class="greetings">Goodmorning Sir/Ma'am <%= @professor.name %></p>
      <p class="greetings">We would like to inform you that a facility/equipment reservation made was under your supervision with the following details:</p>
    </header>
    <div class="content-container">
      <div class="details">
        <div class="reservation-info">
          <h3 class="highlight-text trip-label">DETAILS</h3>
        </div>
        <div class="reservation-info">
          <p>
            <table class="table table-striped">
              <tbody>
                <th>Equipment / Facility </th>
                <th>Quantity </th>
                <th>Date</th>
                <th>Time From</th>
                <th>Time To</th>
                <th>Reserved By</th>
                <% @reservation.reservation_records.each do |record| %>
                  <tr>
                    <td>
                        <%= record.facility_id.present? ? record.facility.name : record.item.name %>
                    </td>
                    <% if record.quantity %>
                      <td> <%= record.quantity %> </td>
                    <% else %>
                      <td> N/A </td>
                    <% end %>
                    <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
                    <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %></td>
                    <td> <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
                    <td> <%= "#{@reservation.user&.firstName} #{@reservation.user&.lastName}"%> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </p>
        </div>
        <div class="reservation-info">
          <p>If you have any questions about this, please go to Sir Roehl</p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
