<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>    </th>
    <th>Status</th>
    <th></th>
  </tr>
<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td>
    <% facility&.specifications&.each do |spec| %>
    <ul>
    <li><b><%= spec&.field %>: </b><%= truncate(spec&.content, :length => 50) %></li>
    </ul>
    <% end %>
    </td>
    <td><%= facility.status %></td>
    <td>
        <%= link_to edit_facility_path(facility), class: "btn btn-primary btn-sm float-left" do %>
          <span class="small" data-feather="edit-2"></span> Edit
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @facilities, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
