<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <div class="row">
  <div class="col-2"></div>
  <%= simple_form_for @facility, :html => {class:"form-horizontal pt-3 col-8 align-center content-section", role:"form"} do |f| %>
  <div class="form-group">
    <div class="form-row">
      <div class="form-inline col-3">
        <h5 class="pb-2">
         <b> <%= f.label :name, label: 'Facility Name' %></b>
        </h5>
      </div>
      <div class="col-9">
        <%= f.input :name, label: false, input_html: {autocomplete: 'off'}%>
      </div>
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="form-row">
      <div class="form-inline col-3">
        <h5 class="pb-2">
          <%# <b><%= f.label :description, label: 'Description'</b> %> %>
        </h5>
      </div>
      <div class="col-9">
        <%# <%= f.input :description, label: false, input_html: {autocomplete: 'off', id: 'froala-editor'} %> %>
      </div>
    </div>
  </div> -->
  
  <div class="form-group">
    <div class="form-row">
      <div class="form-inline col-3">
        <h5 class="pb-2">
          <b><%= f.label :status, label: 'Status' %></b>
        </h5>
      </div>
      <div class="col-9">
        <%= f.input :status, label: false, collection: ([["Active","Active"],["Inactive","Inactive"]]) %>
      </div>
    </div>
    
  </div>
      <%= f.fields_for :specifications do |specs| %>
          <%= render "specs_edit", f: specs %>
        <% end %>

  <div id="links">
       <%= link_to_add_association "Add Field", f, :specifications, partial: "specifications", class: "btn btn-primary mr-2 float-left" %>
  </div>
  <%= f.button :submit, class: "btn-success float-right", value: "Save" %>
  
  <%= link_to "Back", facilities_path, class: "btn btn-secondary  mr-2 float-right", data: { confirm: "Are you sure? Unsaved changes will be lost. "}%>
  
<% end %>
<div class="col-2"></div>
</div>

</div>
