<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
    <%= form_tag facilities_path, method: :get, class: "form-group", remote: true do %>
        <%= text_field_tag :search_trips, nil,class: "form-control", placeholder: "Search..", autocomplete: :off %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4>
    <a href="/facilities/new" class="btn btn-success float-right">
    <span class="small" data-feather="plus"></span>
      Add Facility</a>
    <button type="button" class="btn btn-info btn-lg mb-2" data-toggle="modal" data-target="#equipmentExport">Export All</button>
      <%= form_tag fac_pdf_path(format: :pdf), target: 'blank',class: 'form-row', method: :get do %>
      <%= label_tag :label, "Facilities reserved from: ", class:"mt-1" %>
      <%= text_field_tag :from ,"", class: 'form-control col-2 mr-2', id: 'firstDate', autocomplete: :off %>
      <%= text_field_tag :to,"", class: 'form-control col-2 mr-2', id: 'secondDate', autocomplete: :off %>
      <%= submit_tag 'Get Data', class: 'btn btn-secondary' %>
      <% end %>
    </h4> 
    </div>
    <div id="facList"><%= render 'facs' %></div>
  </div>
</div>

 <!-- MODAL FOR EXPORTING ALL FACILITIES-->
   <div class="modal fade" id="equipmentExport" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-centered">
        <div class="modal-header text-centered">
          <h4 class="modal-title">Export via</h4>
        </div>
        <div class="modal-body">
          <%= link_to "CSV",
                fac_path(format: :csv), class: "btn btn-primary"%> OR
          <%= link_to "PDF",
                facs_path(format: :pdf),target: 'blank', class: "btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
