<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th>Equipment / Facility </th>
        <th>Quantity </th>
        <th>Purpose</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
    </tr>
  </thead>
  <% @reservations.each do |res| %>
  <% res.reservation_records.each do |record| %>
    <tr>
        <td>
            <%= record.facility_id.present? ? record.facility.name : record.item.name %>
        </td>
        <% if record.quantity %>
          <td> <%= record.quantity %> </td>
        <% else %>
          <td> N/A </td>
        <% end %>
        <td><%=  record.reservation.purpose %></td>
        <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
        <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %> - <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
        <td> <%= link_to "View", view_reservation_path(res), class: "btn btn-secondary" %></td>
    </tr>
    <% end %>
  <% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @reservations, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
