<table class="table table-striped">
  <tr>
    <th>ID Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Course & Section</th>
    <th colspan="2"></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.idNumber %></td>
    <td><%= user.firstName %> <%= user.lastName %></td>
    <td><%= user.email %></td>  
    <td><%= Course.find(user.course)&.name %> <%= user.section %></td>
    <% if user.block == true %>
    <td><%= link_to "Unblock", unblock_user_path(user), method: :post , class: "btn btn-success btn-sm float-left" %></td>
    <% else %>
     
    <td><button type="button" class="btn btn-success  btn-sm mb-2" data-toggle="modal" data-target="#equipmentExport">Block</button></td>
    <div class="modal fade" id="equipmentExport" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content text-centered">
        <div class="modal-header text-centered">
          <h4 class="modal-title">Block User?</h4>
        </div>
        <div class="modal-body">
          <%= form_tag block_user_path(user), method: :post ,class: 'form-row' do %>
          <%= label_tag :label, "Reason: ", class:"h5 mt-1 mr-2" %>
          <%= text_field_tag :reason ,"", class: 'form-control', autocomplete: :off %>
          <%= submit_tag 'Submit', class: 'mt-2 btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <% end %>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>


   

 