<div style="background-color: maroon">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-3"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5 content-section" style="background-color:maroon; border-color: maroon">
      <div class="card" style="box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2);">
        <%= form_tag authenticate_admin_path do %>
        <div class="form-group">
          <h1 class="h3 font-weight-normal card-header">Log in as Administrator</h1>
          <div class="card-body">
          <%= email_field_tag "Email", "", class: 'form-control mb-2', input_html: {autocomplete: 'off'}, placeholder: "E-mail" %>
          <%= password_field_tag "Password","", class: 'form-control mb-2', placeholder: "Password" %>
          </br>
          <%= submit_tag "LOGIN", class: 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3"></div>
  </div>
</div>
