<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
  <div class="col-2"></div>
  <div class="col-8">
  <div class="content-section">
    <%= simple_form_for @user, url: admin_create_user_path(@user) do |f| %>
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create Account  <i class="fa fa-user" style="font-size:45px"></i></legend>
      <div class="form-group">
        <%= f.input :idNumber,
                    required: true,
                    label: "ID Number",
                    autofocus: true ,
                    input_html: { autocomplete: "off",
                                  placeholder: "2000-00000-SJ-0" }%>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <%= f.input :firstName,
                      required: true,
                      label: "First Name",
                      input_html: { autocomplete: "off",
                                    placeholder: "Juan" }%>
        </div>
        <div class="form-group col-6">
          <%= f.input :lastName,
                      required: true,
                      label: "Last Name",
                      input_html: { autocomplete: "off",
                                    placeholder: "Dela Cruz" }%>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :email,
                    required: true,
                    input_html: { autocomplete: "email",
                                  placeholder: "juan@test.com" }%>
      </div>
      <div class="form-group">
        <%= f.input :role, as: :radio_buttons, required: true,  collection: [['student','Student'],['admin','Administrator']], label_method: :second, value_method: :first %>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <%= f.input :course,
                      collection: Course.order(:name),
                      label: "Course",
                      input_html: { autocomplete: "off" }%>
        </div>
        <div class="form-group col-6">
          <%= f.input :section,
                      required: true,
                      label: "Section",
                      input_html: { autocomplete: "off" }%>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :password,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-row">
        <div class="form-group mr-2">
      <%= f.button :submit, "Sign up" %>
      </div>
      <div class="form-group">
        <%= link_to "Back", new_user_session_path, class: "btn btn-primary" %>
      </div>
      </div>
    </fieldset>
    <% end %>
    </div>
    <div class="col-2"></div>
    </div>
  </div>
</div>

</div>
