<%= render 'layouts/header' %>
<div class="container pt-4">
<div class="row mb-2 mt-5 pt-5">
  <%= render 'layouts/sidebar' %>
  <div class="col-9">
    <div class="card-calendar shadow p-5">
      <div id="calendar"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">

  </div>
<div class="modal-body">
<p></p>
</div>
</div>
</div>
</div>
</div>
