<%= render 'layouts/header' %>
<div class="container pt-4 mt-5">
  <div class="pt-4 mt-3"><%= render 'layouts/messages' %></div>
  <%= render 'layouts/username' %>
  <div class="row mb-2">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
      <div class="card shadow">
        <div class="card-header">
          <h4>Your Reservations
            <% if current_user.block? %>
            <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#blockModal">Make Reservation</button>

            <div id="blockModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content text-centered">
                  <div class="modal-body">
                    <p>You are blocked from PUPSJ-OEFRS.</p>
                    <p> Please approach admin to settle your account. </p>
                  </div>
                  <div class="modal-footer text-centered">

                  </div>
                </div>

              </div>
            </div>
            <% else %>
              <a href="/student/reservation" class="btn btn-success float-right">Make Reservation</a></h4>
            <% end %>
            <div class="col-6">
              <%= form_tag student_dashboard_path, class: "membership-status", method: :get do %>
                <%= select_tag "status", options_for_select(@reservation_statuses), data: { remote: true } %>
              <% end %>
            </div>
            </h4>
        </div>
        <% if @reservation.present? %>
          <div class="modal" id="memberModal", style="display: block"  >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Successfully Created Your Reservation!</h5>
                  <button type="button" class="close", id="closeModal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Please Note: <br>
                  <ul>
                    <li>YOU ARE REQUIRED TO SURRENDER YOUR I.D. UPON CLAIMING THE RESERVED EQUIPMENTS</li>
                    <li>IF YOU WILL NOT BE ABLE TO CLAIM THE RESERVED EQUIPMENT/FACILITY, PLEASE PRINT THE DOCUMENT ATTACHED TO THIS PAGE AND GIVE IT TO A REPRESENTATIVE</li>
                    <li>YOU MAY CLAIM THE EQUIPMENT 5 MINUTES BEFORE THE DESIGNATED TIME</li>
                    <li>YOU ARE GIVEN 30 MINUTES AFTER THE END TIME TO RETURN THE BORROWED EQUIPMENT; OTHERWISE, YOU WILL BE GIVEN A WARNING THAT WILL IMPEDE YOUR PRIVILEGES TO BORROW FROM THE SCHOOL</li>
                  </ul>
                </div>

                <div class="modal-footer">
                  <%= link_to "Download PDF File", reservation_pdf_path(reservation_id: @reservation.id, format: :pdf), target: 'blank', class: "btn btn-secondary" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <div id="studentReservationListIndex"><%= render 'student_reservation_list' %></div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
<script>
</script>
