<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
      <h2>Facilities</h2>
      <div class="row">
        <% @facilities.each do |facility| %>
        <div class="col-6 mb-1">
            <div class="card shadow">
                <div class="card-header">
                  <b><%= facility.name %></b>
                </div>
                <div class="card-body">
                  <% facility.specifications.take(2).each do |spec| %>
                    <p><b><%= spec.field %>:</b> <%= spec.content%></p>
                  <% end %>
                   <%= link_to "See more", facility_show_path(facility.id), class: "btn btn-primary"%>
                </div>
              </div>
        </div>
        <% end %> 
    
        </div>
      
      
    </div>
  </div>
</div>
