<%= render 'layouts/navbar' %>
<header id="main-header" class="py-2 bg-danger text-white mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i data-feather="user"></i>Welcome Sir <%= current_user.firstName %></h1>
      </div>
    </div>
  </div>
</header>


<div class="container">
 <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h4>
            <%= link_to "Export Reservations for today", reservation_today_path(format: :pdf),target: 'blank', class: "btn btn-danger float-right" %>
            <%= link_to "Make Reservation", new_reservation_path, class: "mr-2 btn btn-primary float-right" %>
            Upcoming Reservations
          </h4>
        </div>
        <table class="table table-striped">
          <tr>
            <th>Reservation </th>
            <th>Date </th>
            <th>Quantity </th>
            <th>Time</th>
            <th>Reserved by</th>
          </tr>
          <% @upcoming_reservations.each do |res| %>
          <% res.reservation_records.each do |record| %>
            <tr>
                <td>
                    <%= record.facility_id.present? ? record.facility.name : record.item.name %>
                </td>
                <td> <%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
                <% if record.quantity %>
                  <td> <%= record.quantity %> </td>
                <% else %>
                  <td> N/A </td>
                <% end %>
                <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %> - <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
                <td> <%= "#{res.user&.firstName} #{res.user&.lastName}"%> </td>
            </tr>
            <% end %>
          <% end %>
        </table>
        <div>
          <ul class="apple_pagination mt-2">
          <%= will_paginate @upcoming_reservations, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center bg-success text-white mb-3">
        <div class="card-body">
          <h3>Equipments</h3>
          <h1 class="display-4">
            <i data-feather='speaker'></i>
            <%= @equipment.length %>
          </h1>
          <a href="/equipment" class="btn btn-outline-light btn-sm">View</a>
        </div>
      </div>
      <div class="card text-center bg-info text-white mb-3">
        <div class="card-body">
          <h3>Facilities</h3>
          <h1 class="display-4">
            <i data-feather="home"></i>
            <%= @facilities.length %>
          </h1>
          <a href="/facilities" class="btn btn-outline-light btn-sm">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
