<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-8 content-section ml-4 ">
        <h2 class="ml-3 mt-2"><%= @item.name %></h2>
        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#itemModal">See Specs</button>

            <div id="itemModal" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content text-centered">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%= @item.name %> Specifications</h5>
                </div>
                  <div class="modal-body">
                    <p> 
                      <% @item.specifications.each do |spec| %>
                    <p><b><%= spec.field %>:</b> <%= spec.content%></p>
                  <% end %>
                    </p>
                  </div>
                  <div class="modal-footer text-centered">

                  </div>
                </div>

              </div>
            </div>
  <table class="table table-striped">
  <thead class="thead">
    <tr>
    <th>User</th>
        <th>Quantity </th>
        <th>Purpose</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
    </tr>
  </thead>
  <% @reservation_records.each do |record| %>
    <tr>
        <td><%=  
        "#{record.reservation.user.firstName} #{record.reservation.user.lastName}"  %></td>

        <% if record.quantity %>
          <td> <%= record.quantity %> </td>
        <% else %>
          <td> N/A </td>
        <% end %>
        <td><%=  record.reservation.purpose %></td>
        <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
        <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %> - <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
    </tr>
    <% end %>
</table>


        
          </div>
        </div>
      
      
    </div>
  </div>
</div>
