<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
        <h2>Equipment</h2>
        <div class="row">
          <% @equipments.each do |equipment| %>
          <div class="col-6 mb-1">
            <div class="card shadow">
              <div class="card-header">
                <b><%= equipment.name %></b>
              </div>
              <div class="card-body">
                <% equipment.specifications.take(2).each do |specs| %>
                <p><b><%= specs.field %>: </b> <%= specs.content %></p>
                <% end %>
                <%= link_to "See more", item_show_path(equipment.id), class: "btn btn-primary"%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      
      
    </div>
  </div>
</div>
