<%= render 'layouts/header' %>

<div class="container">
  <div class="row pt-5 mt-5">
    <div class="col-lg-4">
      <div class=" mt-2 content-section mb-5" style="box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2); border-top: 6px solid maroon">
        <form method="POST">
          <div class="form-group">
            <h1 class="h3 mb-3 text-center">Log In as Student</h1>
            <hr>
            <input type="text" class="form-control mb-2 input-shadow" name='studentNumber' placeholder="Student Number" value={{request.form.studentNumber} }="}">
            <input type="password" name='password' class="form-control mb-2 input-shadow" placeholder="Password" value={{request.form.password} }="}">
            <small class="text-muted mb-2">
              <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
            </small>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <div class="float-justify mt-2">
              <h5 class="text-center">Or</h5>
            </div>
            <div class="text-center">
              <!-- <a href="/register" class="btn btn-md btn-success btn-block">Sign Up</a> -->
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-md btn-success btn-block" %>
            </div>
            <div class="text-center">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="embed-responsive embed-responsive-16by9 mb-2 mt-2 shadow">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/37Clm7Z-fc8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
