<%= render 'layouts/header' %>
<div class="container pt-4 mt-5">
  <div class="pt-4 mt-3"><%= render 'layouts/messages' %></div>
  <div class="row mb-2">
    <%= render 'layouts/sidebar' %>
    <%= @facilities.each do |fac| %>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-header">
          <h4> <%= fac.name %>
        </div>
        <div class="card-body">
          <%= fac.description %>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>
