<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
      <div class="card shadow">
        <div class="card-header">
          <h4>Your Notifications</h4>
            <hr>
        </div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                  <th>Title</th>
                  <th>Date</th>
                  <th></th>
              </tr>
            </thead>
            <% @messages.each do |message| %>
              <% if message.read? %>
                <tr>
                    <td><%= message.title %></td>
                    <td><%= message.created_at %></td>
                    <td><%= link_to "View", message_show_path(message), class: "btn btn-secondary" %></td>
                </tr>
              <% else %>
                <tr style="background-color: gray">
                    <td>*<%= message.title %></td>
                    <td><%= message.created_at %></td>
                    <td><%= link_to "View", message_show_path(message), class: "btn btn-secondary" %></td>
                </tr>
              <% end %>
            <% end %>
          </table>

      </div>
    </div>
  </div>
</div>
