<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
      <div class="card shadow">
        
        <% if @message.reservation_id.present? %>
        <div class="card-header">
          <h4><%= @message.title %> for <%= @reservation.dateFrom.strftime("%b %e, %Y") %></h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                  <th>Equipment / Facility </th>
                  <th>Quantity </th>
                  <th>Date</th>
                  <th>Time From</th>
                  <th>Time To</th>
                </tr>
            </thead>
            <% @reservation.reservation_records.each do |record| %>
              <tr>
                  <td>
                      <%= record.facility_id.present? ? record.facility.name : record.item.name %>
                  </td>
                  <% if record.quantity %>
                    <td> <%= record.quantity %> </td>
                  <% else %>
                    <td> N/A </td>
                  <% end %>
                  <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
                  <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %></td>
                  <td> <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
              </tr>
            <% end %>
            </table>
          <h5> <%= @message.content %></h5>
          <% else %>
          <div class="card-header">
          <h4><%= @message.title %></h4>
          <hr>
          <h5><%= @message.content %></h5>
          <div class="card-footer">
            <%= link_to "Back", student_dashboard_path, class: 'btn btn-secondary btn-md' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
