<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <%= form_tag users_path, method: :get, class: "form-group", remote: true do %>
        <%= text_field_tag :search_trips, nil,class: "form-control", placeholder: "Search..", autocomplete: :off %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4>
    <%= link_to admin_add_user_path, class: "btn btn-success float-right" do %>
      <span class="small" data-feather="plus"></span> Add User
    <% end %>
    </h4>
    </div>
    <div id="userList"> <%= render 'users' %></div>
  </div>
</div>
