<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Field Of Study</th>
    <th colspan="2"></th>
  </tr>
  <% @professors.each do |professor| %>
  <tr>
    <td><%= professor.name %></td>
    <td><%= FieldOfStudy.find(professor.fieldOfStudy).name %></td>
    <td>
        <%= link_to edit_professor_path(professor), class: "btn btn-primary btn-sm float-right" do %>
          <span class="small" data-feather="edit-2"></span> Edit
        <% end %>
    </td>
    <td>
        <%= link_to "Delete", professor_path(professor), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger btn-sm float-left" %>
    </td>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @professors, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
