<%= wicked_pdf_stylesheet_link_tag "notification_mailer" %>

  <div class="container">
    <div class="row">
        <div class="col-sm-4">  
            <%= wicked_pdf_image_tag('Logo.png', width: '90px', height:'90px', align: "left") %>
            <%= wicked_pdf_image_tag('sj_logo.png', width: '90px', height:'90px', align: 'right') %>
        </div>
      <div class="col-sm-4 mb-4">  
        <p class="text-center">Polytechnic University of the Philippines</p>
        <p class="text-center">San Juan Campus</p>
        <p class="text-center">Online Equipment and Facilities Reservation System</p>
      </div>
      <!-- <div class="col-20">
         <%= wicked_pdf_image_tag('sj_logo.png', width: '90px', height:'90px', align: 'right') %>
        </div> -->
    </div>
    <div class="rep-title">
      <h1 class="text-center">Professors Master List</h1>
    </div>
<table class="table table-striped">
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Field Of Study</th>

    </tr>
    <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.name %></td>
      <td><%= FieldOfStudy.find(professor.fieldOfStudy).name %></td>
    </tr>
  <% end %>
  </table>
  <hr>
        <div class="total">
          <p><h2 class="text-right">Total: <%= @professors.length %></h2></p>
        </div>
    </div>
  </div>
  