<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <h3>
    <%= @professor.name %>
  </h3>
  <h4>
    <%= @professor.fieldOfStudy %>
  </h4>
  <%= link_to "Edit", edit_professor_path(@professor), class: "btn btn-primary" %>
  <%= link_to "Delete", professor_path(@professor), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div
