<div class="modal-header">
  <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>Cancel this Reservation?</p>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
  <%= link_to "Cancel", cancel_reservation_path(reservation),class: "btn btn-danger float-left"%>
</div>
