<div id="sample"></div>
<%= simple_form_for @reservation do |f| %>

  <div class="row">
    <div class="col-6">
      <b><%= f.label :dateFrom, "Date of Reservation :  " %></b>
      <%= f.date_field :dateFrom, min: (Date.today + 3.days), data: { remote: true }, value: @date_param %>
    </div>
  </div>
  <!-- <b style="float:left"><%= f.input :timeFrom, input_html: {autocomplete: 'off', style: 'width:160px'}, start_hour: 7, end_hour: 21, label: "From", class: "form-control-lg"%></b>
  <b style="float:left"><%= f.input :timeTo, input_html: {autocomplete: 'off', style: 'width:160px'}, start_hour: 7, end_hour: 21, label: "To"%></b> -->
  <b style="float:left"><%= f.input :timeFrom, as: :time, :ampm => true, :minute_step => 30, input_html: {autocomplete: 'off', style: 'width:160px'}, start_hour: 7, end_hour: 21, label: "From"%> </b>
  <b style="float:left"><%= f.input :timeTo, as: :time, :ampm => true, :minute_step => 30, input_html: {autocomplete: 'off', style: 'width:160px'}, start_hour: 7, end_hour: 21, label: "To"%></b>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <% if current_user.admin? %>
    <%= f.label :course_and_section, "Course and Section: "%>
    <%= f.input :course_and_section, label: false, input_html: {autocomplete: 'off'}%>
  <% end %>
  <b><% if current_user.admin? %>
    <b><%= f.input :purpose, collection: Reservation::ADMIN_PURPOSE, input_html: { data: { remote: true } },prompt: "", selected: @purpose %></b>
  <% else %>
    <b><%= f.input :purpose, collection: Reservation::PURPOSE, input_html: { data: { remote: true } },prompt: "", selected: @purpose %></b>
  <% end %></b>
  <br>
  <div id="purposeForm"> </div>
  <% if @has_picked_date %>
    <div class="mb-3 mt-3" id="colours">
      <%= f.fields_for :reservation_records do |reserve| %>
        <%= render "reservation_item", f: reserve %>
      <% end %>
      <div id="links">
        <%= link_to_add_association "Reserve Facility", f, :reservation_records, partial: "reservation_facility", class: "btn btn-primary" %>
        <%= link_to_add_association "Reserve Equipment", f, :reservation_records, partial: "reservation_item", class: "btn btn-primary" %>
      </div>
    </div>
    <%= f.button :submit, class: "btn btn-success"%>

     <% end %>
     <% end %>

  
