<% if @reservations.blank? %>

<h4>No Reservations for <%= @date %> </h4>

<% else %>
  <h4>Reservations for <%= @date %> </h4>
  <table class="table table-striped">
    <tr>
      <th>Equipment / Facility </th>
      <th>Quantity </th>
      <th>Time From</th>
      <th>Time To</th>
      <th>Reserved by</th>
    </tr>
  <% @reservations.each do |res| %>
  <% res.reservation_records.each do |record| %>
    <tr>
        <td>
            <%= record.facility_id.present? ? record.facility.name : record.item.name %>
        </td>
        <% if record.quantity %>
          <td> <%= record.quantity %> </td>
        <% else %>
          <td> N/A </td>
        <% end %>
        <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %></td>
        <td> <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
        <td> <%= "#{res.user&.firstName} #{res.user&.lastName}"%> </td>
    </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
