
<div class="nested-fields">
  <b style="float:left"><%= f.input :facility_id, collection: Facility.order(:name).where("status == 'Active'"), prompt: " ",input_html:{style: 'width:610px'} %></b>
  </br>
  <%= link_to_remove_association "X", f, class: "btn btn-danger", style: 'float:right' %>
</div>
