<div class="nested-fields">
  <b style="float:left"><%= f.input :item_id, collection: Item.order(:name).where("quantity != 0"), input_html: { onchange: "checkMaxQuantity(this.value)",style: 'width:610px'}%></b>
  </br>
  <%= link_to_remove_association "X", f, class: "btn btn-danger",style: 'float:right' %>
  </br></br></br>
  <h6 style="color:red" id="maxQuant"> </h6>
  <b style="float:left"><%= f.input :quantity, input_html: { max: 200, min: 1, style: 'width:610px'} %></b>
  
</div>
