<table class="table table-striped res">
  <tr>
    <th>Reference Code</th>
    <th>Reservation</th>
    <th>Quantity</th>
    <th>Reserved by</th>
    <th>Course & Section</th>
    <th>Reservation Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Claim/Return Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @reservations.each do |reservation| %>
<% reservation.reservation_records.each do |record| %>
  <% if reservation.status == "Canceled" %>
  <tr style="border-left: 10px solid maroon">
  <% elsif reservation.status == "Active" %>
  <tr style="border-left: 10px solid green">
  <% elsif reservation.status == "Claimed" %>
  <tr style="border-left: 10px solid yellow;">
  <% else %>
  <tr style="border-left: 10px solid blue">
  <% end %>
    <%# <% if reservation.dateFrom <= Date.today + 1.day && reservation.timeTo < Time.now + 8.hours  %>
     <%# <% unless reservation.status == "Canceled" %>
      <%# <% reservation.update(status: "Done") %>
      <%# <% end %>
    <%# <% end %>
    <td> <%= reservation.reference %></td>
    <td class="pr-1"><%= record.facility_id.present? ? record.facility.name : record.item.name %></td>
    <% if record.quantity %>
      <td class="pr-1"> <%= record.quantity %> </td>
    <% else %>
      <td class="pr-1"> N/A </td>
    <% end %>
    <td class="pr-1"> <%= "#{reservation.user.firstName} #{reservation.user.lastName}" %> </td>
    <% if reservation.user.role == "admin"%>
    <td class="pr-1"> <%= reservation.course_and_section %> </td>
    <% else %>
    <td class="pr-1"> <%= "#{Course.find(reservation.user.course).name} #{reservation.user.section}" %> </td>
    <% end %>
    <td class="pr-1"><%= DateTime.parse(reservation.dateFrom.to_s).strftime("%b %e, %Y") %></td>
    <td class="pr-1"><%= DateTime.parse(reservation.timeFrom.to_s).strftime("%I:%M%p") %> to <%= DateTime.parse(reservation.timeTo.to_s).strftime("%I:%M%p") %></td>
    <td class="pr-1"><%= reservation.status %></td>
    <td class="pr-1">
      <% if reservation.claim_time != nil %>
        <%= DateTime.parse((reservation.claim_time + 8.hours).to_s).strftime("%I:%M%p") %>
      <% end %>
      <% if reservation.claim_time != nil && reservation.return_time != nil %>
      /
      <%end%>
     <% if reservation.return_time != nil %>
     <%= DateTime.parse((reservation.return_time + 8.hours).to_s).strftime("%I:%M%p") %>
      <% end %>
    </td>
    <td class="pr-1">
      <% unless reservation.status == "Cancelled" || reservation.status == "Done" || reservation.claim_time != nil %>
        <%= link_to "Edit", edit_reservation_path(reservation), class: "btn btn-sm btn-primary float-right" %>
      <% end %>
    </td>
      <td class="pr-1">
        <% unless reservation.status == "Cancelled" || reservation.status == "Done" || reservation.claim_time != nil %>
          <%= link_to "Cancel", cancel_reservation_path(reservation), class: "btn btn-danger btn-sm float-left"%>
        <% end %>
      </td>
      <% if reservation.status == "Cancelled" || reservation.status == "Done"%>
      <td> </td>
      <% else %>
        <% if reservation.dateFrom == Date.today %>
          <% if reservation.return_time != nil %>
          <td> </td>
          <% else %>
            <% if reservation.claim_time == nil %>
            <td>
                <%= link_to "Claim", claim_time_path(reservation), method: :post, class: "btn btn-info btn-sm float-left" %>
                </td>
              <% else %>
              <td>
                <%= link_to "Return", return_path(reservation), class: "btn btn-info btn-sm float-left" %>
                </td>
            <% end %>
         <% end %>
        <% end %>
      <% end %>
      <td></td>

  <% end %>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @reservations, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
