
<% if f.object.facility_id.nil? %>
  <div class="nested-fields">
    <%= f.input :item_id, collection: Item.order(:name).where("quantity != 0"), input_html: { onchange: "checkMaxQuantity(this.value)", selected: f.object.item_id}%>
    <h6 style="color:red" id="maxQuant"> </h4>
    <%= f.input :quantity, input_html: { max: 200, min: 1} %>
    <%= link_to_remove_association "Remove Equipment Reservation", f, class: "btn btn-danger" %>
  </div>
<% else %>
  <div class="nested-fields">
    <%= f.input :facility_id, collection: Facility.order(:name).where("status == 'Active'"), prompt: " ", input_html: { selected: f.object.facility_id} %>
    <%= link_to_remove_association "Remove Facility Reservation", f, class: "btn btn-danger" %>
  </div>
<% end %>
