<% if @remarks == "Others" %>
  <div style="padding-bottom: 20px">
    <h6> <b>Other Remarks</b></h6>
      <div>
        <textarea name="additionalRemarks"></textarea>
      </div>
      <br>
    <div>
      <h6> <b>Block User From Reservation System ?</b></h6>
      <span style="padding-right: 25px">
        <input type="radio" name="blockUser" value="true"> Yes
      </span>
      <span style="padding-right: 25px">
        <input type="radio" name="blockUser" value="false"> No
      </span>
    </div>
  </div>
<% elsif @remarks == "Bad Condition" %>
  <div style="padding-bottom: 20px">
    <h6> <b>Remarks for Bad Condition</b> </h6>
    <div>
      <textarea name="additionalRemarks"></textarea>
    </div>
    <br>
    <div>
      <h6> <b>Block User From Reservation System?</b></h6>
      <span style="padding-right: 25px">
        <input type="radio" name="blockUser" value="true"> Yes
      </span>
      <span style="padding-right: 25px">
        <input type="radio" name="blockUser" value="false", selected=true> No
      </span>
    </div>
  </div>
<% end %>
