<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 content-section">
      <h4>Reservation Date: <%= @reservation.dateFrom %></h4>
      <h4>Reservation Time: <%= DateTime.parse(@reservation.timeFrom.to_s).strftime("%I:%M%p") %> to <%= DateTime.parse(@reservation.timeTo.to_s).strftime("%I:%M%p") %></h4>
      <h3></h3>
        <%= form_tag submit_cancelation_path(@reservation) do %>
        <%= radio_button_tag(:reason, "School Event") %>
        <%= label_tag(:label, "School Event") %>
        <%= radio_button_tag(:reason, "Class Suspension") %>
        <%= label_tag(:label, "Class Suspension") %>
        <br>
        <%= label_tag(:labl, "Enter your password:", class: "mr-2")%>
        <%= password_field_tag(:pass) %>
        <br>
        <%= submit_tag('Submit',class: "btn btn-md mt-2") %>
        <% end %>
    </div>
    <div class="col-2"></div>
  </div>

</div>
