<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
 <div class="row">
   <div class="col-2"></div>
   <div class="col-8">
  <div id="sample"></div>
  <%= simple_form_for @reservation, :html => {class: "content-section"} do |f| %>
    <div class="row">
      <div class="col-6">
        <b><%= f.label :dateFrom, "Date of Reservation :  " %></b>
        <%= f.date_field :dateFrom, min: (Date.today + 3.days), data: { remote: true }, value: @date_param %>
      </div>
    </div>
    <b><%= f.input :timeFrom, input_html: {autocomplete: 'off'}, start_hour: 7, end_hour: 21 %></b>
    <b><%= f.input :timeTo, input_html: {autocomplete: 'off'}, start_hour: 7, end_hour: 21%></b>

    <br>
      <b><%= f.input :purpose, collection: Reservation::ADMIN_PURPOSE, input_html: { data: { remote: true }, selected: @purpose },prompt: "" %></b>
      <div id="currentPurpose">
        <% if f.object.purpose == "ACADEMIC" %>
            <b><%= f.label :professor %></b>
            <%= f.select :status, Professor.all.collect { |prof| [ prof.name] }, selected: f.object.sub_purpose %>
        <% elsif f.object.purpose == "ORGANIZATIONAL" %>
          <%= f.select :status, Organization.all.collect { |prof| [ prof.name] }, selected: f.object.sub_purpose %>
        <% end %>
      </div>
    <div id="purposeForm">
    </div>
      <div class="mb-3 mt-3">
        <%= f.fields_for :reservation_records do |reserve| %>
          <%= render "reserved", f: reserve %>
        <% end %>
        <div>
        <%= link_to_add_association "Reserve Equipment", f, :reservation_records, partial: "reservation_item", class: "btn btn-primary" %>
        <%= link_to_add_association "Reserve Facility", f, :reservation_records, partial: "reservation_facility", class: "btn btn-primary" %>
        </div>
      </div>

      <%= f.button :submit, class: "btn btn-success"%>
  <% end %>
</div>
<div class="col-2"></div>
</div>

</div>
