<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-8">
      <%= form_tag reservations_path, class: "membership-status", method: :get do %>
        <%= select_tag "status", options_for_select(@reservation_statuses), data: { remote: true } %>
      <% end %>
    </div>
    <div class="col-4">
    <%= form_tag reservations_path, method: :get, class: "form-group", remote: true do %>
        <%= text_field_tag :search_trips, nil,class: "form-control", placeholder: "Search..", autocomplete: :off %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">

    <h4>
    <a href="/reservations/new" class="btn btn-sm btn-success float-right">

    <span class="small" data-feather="plus"></span>
      Add Reservation</a>
      <%= form_tag res_path(format: :pdf), target: 'blank',class: 'form-row', method: :get do %>
      <%= text_field_tag :from ,"", class: 'form-control col-2 mr-2', id: 'firstDate', autocomplete: :off %>
      <%= text_field_tag :to,"", class: 'form-control col-2 mr-2', id: 'secondDate', autocomplete: :off %>
      <%= select_tag :purpose, options_for_select(['ACADEMIC','ORGANIZATIONAL','SCHOOL EVENT']), class: 'form-control col-2 mr-2', :prompt => "Purpose" %>
      <%= select_tag :status, options_for_select(['Active','Cancelled','Claimed', 'Done']), class: 'form-control col-2 mr-2', :prompt => 'Status' %>
      <%= submit_tag 'Get Data', class: 'btn btn-secondary' %>
      <% end %>
    </h4>
    </div>
    <div id="reservationListIndex"><%= render 'reservation_list' %></div>

  </div>
</div>
