<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
<div class="row">
<div class="col-2"></div>
      <div class="col-8">
        <div class="shadow p-4 card-calendar", id="reservationForm">
            <h2>Reservation</h2>
            <hr>
            <%= render 'form' %>
        </div>
      </div>
</div>
<div class="col-2"></div>
</div>
