<% if @purpose == "ACADEMIC" %>
  $('#ProfOpts').addClass('show').addClass('form-control');
  $('#orgOpts').addClass('hide');
<% else %>
  $('#ProfOpts').addClass('hide');
  $('#orgOpts').addClass('show').addClass('form-control');
<% end %>
