<%= wicked_pdf_stylesheet_link_tag "notification_mailer" %>
<div class="logo-container">
    <div class="logo"></div>
    <p class="name">PUPSJ Online Facility and Equipment Reservation</p>
  </div>
  <div class="email-wrapper">
    <header class="confirmation">
      <p class="greetings">Good Day, <%= @user.firstName %>!</p>
      <p class="info">Congratulations! Your reservation for <span class="highlight-bold"><%= @reservation.dateFrom.strftime("%b %e, %Y") %></span> from</p>
      <p class="info"><span class="highlight-bold"><%= @reservation.timeFrom.strftime("%I:%M %p") %></span> to <span class="highlight-bold"><%= @reservation.timeTo.strftime("%I:%M %p") %></span>  has been confirmed.</p>
      <p class="greetings">Your Reservation Reference Number:</p>
      <p class="greetings"><%= @reservation.reference %></p>
    </header>
    <div class="content-container">
      <div class="details">
        <div class="reservation-info">
          <h3 class="highlight-text trip-label">DETAILS</h3>
        </div>
        <div class="reservation-info">
          <p>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                    <th>Equipment / Facility </th>
                    <th>Quantity </th>
                    <th>Date</th>
                    <th>Time From</th>
                    <th>Time To</th>
                </tr>
              </thead>
              <% @reservation.reservation_records.each do |record| %>
                <tr>
                    <td>
                        <%= record.facility_id.present? ? record.facility.name : record.item.name %>
                    </td>
                    <% if record.quantity %>
                      <td> <%= record.quantity %> </td>
                    <% else %>
                      <td> N/A </td>
                    <% end %>
                    <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
                    <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %></td>
                    <td> <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
                </tr>
              <% end %>
            </table>
          </p>
        </div>
        <div class="reservation-info">
          <p>You may show this file to claim your reservation</p>
          <p>Please Claim your Reservation on time</p>
        </div>
        <div class="reservation-info">
          <p>If you have any questions for your reservation, please go to Sir Roehl.</p>
        </div>
      </div>
    </div>
  </div>
