<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 content-section">
      <h4>Reservation Date: <%= @reservation.dateFrom %></h4>
      <h4>Reservation Time: <%= DateTime.parse(@reservation.timeFrom.to_s).strftime("%I:%M%p") %> to <%= DateTime.parse(@reservation.timeTo.to_s).strftime("%I:%M%p") %></h4>
        <%= form_tag return_time_path(@reservation) do %>
        <div>
          <%= radio_button_tag :remarks, "Good Condition", {}, data: { remote: true } %>
          <%= label_tag(:label, "Good Condition") %>
          <%= radio_button_tag :remarks, "Bad Condition", {}, data: { remote: true } %>
          <%= label_tag(:label, "Bad Condition/Damaged") %> 
          <%= radio_button_tag :remarks, "Others", {}, data: { remote: true } %>
          <%= label_tag(:label, "Others") %>
        </div>
        <br>
        <div id="returnRemarks">

        </div>

        <br>
        <%= submit_tag('Submit',class: "btn btn-md") %>
        <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
