<% if @purpose.present? %>
  <% if @purpose == "ACADEMIC" %>
    <div style="padding-bottom: 20px">
      <h6> <b>Academic Purpose</b> </h6>
        <div>
          <span style="padding-right: 25px">
            <input type="radio" name="academicPurpose" value="Report"> Report
          </span>
          <span style="padding-right: 25px">
            <input type="radio" name="academicPurpose" value="Defense"> Defense
          </span>
          <span style="padding-right: 25px">
            <input type="radio" name="academicPurpose" value="Meeting"> Meeting
          </span>
          <span style="padding-right: 25px">
            <input type="radio" name="academicPurpose" value="Seminar"> Seminar
          </span>
        </div>
    </div>
    <div>
      <h6> <b>Professor </b></h6>
      <select type="select", name="reservation[sub_purpose]">
        <%= Professor.all.each do |prof| %>
          <option value="<%= prof.name %>"><%= prof.name%></option>
        <% end %>
      </select>
    </div>
  <% elsif @purpose == "ORGANIZATIONAL" %>
    <h6> <b>Organization </b></h6>
    <select type="select", name="reservation[sub_purpose]">
      <%= Organization.all.each do |org| %>
        <option value="<%= org.name %>"><%= org.name%></option>
      <% end %>
    </select>
  <% else %>
  <h6> <b>Any reservation that will be affected by a school event reservation
      will automatically be cancelled and will be notified accordingly </b>
  </h6>
  <% end %>
<% end %>
