<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <h2>
    <%= @reservation.purpose %>
  </h2>
  <h3>
    <%= @reservation.dateFrom %>
  </h3>
  <h4>
    <%= @reservation.dateTo %>
  </h4>
  <h4>
    <%= @reservation.timeFrom %>
  </h4>
  <h4>
    <%= @reservation.timeTo %>
  </h4>
  <%= link_to "Edit", edit_reservation_path(@reservation), class: "btn btn-primary" %>
  <%= link_to "Delete", reservation_path(@reservation), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div>
