<%= render 'layouts/header' %>
<div class="container pt-4">
  <div class="row mb-2 mt-5 pt-5">
    <%= render 'layouts/sidebar' %>
    <div class="col-9">
      <div class="card shadow">
        <div class="card-header">
          <h4>Reservation for <%= @reservation.dateFrom.strftime("%b %e, %Y") %>
            <% if @reservation.status == "Active" %>
          <%= link_to "Download PDF File", reservation_pdf_path(reservation_id: @reservation.id, format: :pdf), target: 'blank', class: "btn btn-secondary btn-sm float-right ml-2" %>
          <%= link_to "Cancel", student_cancel_reservation_path(@reservation), class: "btn btn-danger btn-sm float-right", method: :post, data: {confirm: "Are you sure to cancel this reservation?"} %>
            <% end %></h4>
            <hr>
            <h6><strong>Reference:</strong> <%= @reservation.reference %> <p class="float-right"> <strong>Status:</strong><%= @reservation.status %></p></h6>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
                <th>Equipment / Facility </th>
                <th>Quantity </th>
                <th>Date</th>
                <th>Time</th>
                <th>Purpose</th>
                <th>In Charge</th>
            </tr>
          </thead>
          <% @reservation.reservation_records.each do |record| %>
            <tr>
                <td>
                    <%= record.facility_id.present? ? record.facility.name : record.item.name %>
                </td>
                <% if record.quantity %>
                  <td> <%= record.quantity %> </td>
                <% else %>
                  <td> N/A </td>
                <% end %>
                <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
                <td> <%= record.reservation.timeFrom.strftime("%I:%M %p")%> to <%= record.reservation.timeTo.strftime("%I:%M %p")  %></td>
                <td> <%= record.reservation.purpose %></td>
                <% if record.reservation.purpose == "ACADEMIC" %>
                 <td><%= Professor.find_by(name: record.reservation.sub_purpose).name %></td>
                <% elsif record.reservation.purpose == "ORGANIZATIONAL" %>
                  <td><%= Organization.find_by(name: record.reservation.sub_purpose).name %></td>
                <% end %>
            </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
