<% if @purpose.present? %>
  $('#purposeForm').html("<%= escape_javascript(render("purpose"))%>");
<% else %>
  $('#reservationForm').html("<%= escape_javascript(render("form"))%>");
  $('#sample').html("<%= escape_javascript(render("records"))%>");
<% end %>
