<%= render 'layouts/header' %>
<div class="container pt-4 mt-5">
<div class="pt-4 mt-3"><%= render 'layouts/messages' %></div>
<div class="row mb-2">
  <%= render 'layouts/sidebar' %>
  <div class="col-8">
    <div class="shadow p-4 card-calendar", id="reservationForm">
      <h2>Reservation</h2>
      <hr>
      <%= render 'form' %>
    </div>
  </div>
</div>
</div>
