<%= render 'layouts/header' %>
<div class="container mt-5 pt-5">
  <div class="">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4  content-section mt-4">
          <h2>500 Error</h2>
          <p>Sorry, something went wrong.</p>

      </div>
      <div class="col-4"></div>
    </div>
  
</div>
  
</div>
