<%= render 'layouts/header' %>

<div class="container">
  <div class="row pt-5 mt-5">
    <div class="col-lg-4">
      <div class=""><%= render 'layouts/messages' %></div>
      <div class=" mt-2 content-section mb-5" style="box-shadow: 0 4px 6px 0 hsla(0,0%,0%,0.2); border-top: 6px solid maroon">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <h1 class="h3 mb-3 text-center">Log In as Student</h1>
            <hr>
            <%= f.input :idNumber,
                        required: false,
                        autofocus: true,
                        label: false,
                        input_html: {
                                      placeholder: "Student Number" } %>
            <%= f.input :password,
                        required: false,
                        label: false,
                        input_html: { autocomplete: "current-password",
                                      placeholder: "Password"  } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <small class="text-muted mb-2">
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </small>
            <%= f.button :submit, "Log in", class: 'btn btn-lg btn-primary btn-block' %>
            <% end %>
            <div class="float-justify mt-2">
              <h5 class="text-center">Or</h5>
            </div>
            <div class="text-center">
              <!-- <a href="/register" class="btn btn-md btn-success btn-block">Sign Up</a> -->
              <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-md btn-success btn-block" %>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="embed-responsive embed-responsive-16by9 mb-2 mt-2 shadow">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/37Clm7Z-fc8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
