<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Quantity</th>
    <th colspan="2"></th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td>
    <% item&.specifications&.each do |spec| %>
    <ul>
    <li><b><%= spec&.field %>: </b><%= truncate(spec&.content, :length => 50) %></li>
    </ul>
    <% end %>
    </td>
    <td><%= item.quantity %></td>
    <td>
        <%= link_to edit_item_path(item), class: "btn btn-primary btn-sm float-left" do %>
          <span class="small" data-feather="edit-2"></span> Edit
        <% end %>
    </td>

  </tr>
<% end %>
</table>
</div>
<ul class="apple_pagination mt-2">
<%= will_paginate @items, parmas: { format: :js } %>
</ul>
