<% if f.object %>
  <div class="nested-fields">
  <div class="form-group">
    <div class="form-row">
      <div class="col-3">
        <h5 class="pb-2">
          <b><%= f.label :field, label: "Title",input_html:{class: 'form-inline'} %></b>
        </h5>
      </div>
      <div class="col-8">
        <%= f.input :field, label: false, prompt: " ",input_html:{class: 'form-inline'} %> 
      </div>
      <div class="col-1">
        <%= link_to_remove_association  "x", f, class: "btn btn-danger form-inline", data: { confirm: "Are you sure? This action is irreversible. "} %>
      </div>
      
    </div>
  </div>
  <div class="form-group">
      <div class="form-row">
        <div class="col-3">
          <h5 class="pb-2">
            <b><%= f.label :content, label: "Content",input_html:{class: 'form-inline'} %> </b>
          </h5>
        </div>
        <div class="col-8">
          <%= f.input :content, label: false, prompt: " ",input_html:{class: 'form-inline'} %>
        </div>
      </div>
    </div>
  
</div>
<% end %>
