<%= wicked_pdf_stylesheet_link_tag "notification_mailer" %>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">  
          <%= wicked_pdf_image_tag('Logo.png', width: '90px', height:'90px', align: "left") %>
          <%= wicked_pdf_image_tag('sj_logo.png', width: '90px', height:'90px', align: 'right') %>
      </div>
      <div class="col-sm-4 mb-4">  
        <p class="text-center">Polytechnic University of the Philippines</p>
        <p class="text-center">San Juan Campus</p>
        <p class="text-center">Online Equipment and Facilities Reservation System</p>
      </div>
      <!-- <div class="col-20">
         <%= wicked_pdf_image_tag('sj_logo.png', width: '90px', height:'90px', align: 'right') %>
        </div> -->
    </div>
    <div class="rep-title">
      <h2 class="text-center">Equipments Reserved from <%= @from %> to <%= @to %></h2>
    </div>
    <div>
        <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th>Equipment / Facility </th>
        <th>Quantity </th>
        <th>Purpose</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
    </tr>
  </thead>
  <% @reservations.each do |res| %>
  <% res.reservation_records.each do |record| %>
  <% if record.item_id.present?%>
    <tr>
        <td>
            <%= record.item.name %>
        </td>
          <td> <%= record.quantity %> </td>
        <td><%=  record.reservation.purpose %></td>
        <td><%= record.reservation.dateFrom.strftime("%b %e, %Y") %></td>
        <td> <%= record.reservation.timeFrom.strftime("%I:%M %p") %> - <%= record.reservation.timeTo.strftime("%I:%M %p") %></td>
    </tr>
  <% end %>
    <% end %>
  <% end %>
</table>
        <hr>
    </div>
  </div>


