<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
    <%= form_tag items_path, method: :get, class: "form-group", remote: true do %>
        <%= text_field_tag :search_trips, nil,class: "form-control", placeholder: "Search..", autocomplete: :off %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4>
    <!-- <a href="/items/new" class="btn btn-success float-right">
    <span class="small" data-feather="plus"></span>
      Add item</a> -->
    <%= link_to  new_item_path, class: "btn btn-success float-right" do %>
          <span class="small" data-feather="plus"></span> Add Equipment
    <% end %>
     <button type="button" class="btn btn-info btn-lg mb-2" data-toggle="modal" data-target="#equipmentExport"><span class="medium" data-feather="external-link"></span> Export All</button>
    <%= form_tag res_equips_path(format: :pdf), target: 'blank',class: 'form-row', method: :get do %>
    <%= label_tag :label, "Equipment reserved from: ", class:"mt-1" %>
    <%= text_field_tag :from ,"", class: 'form-control col-2 mr-2', id: 'firstDate', autocomplete: :off %>
    <%= text_field_tag :to,"", class: 'form-control col-2 mr-2', id: 'secondDate', autocomplete: :off %>
    <%= submit_tag 'Get Data', class: 'btn btn-secondary' %>
    <% end %>
    </h4>
    </div>
  <div class="modal fade" id="equipmentExport" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-centered">
        <div class="modal-header text-centered">
          <h4 class="modal-title">Export via</h4>
        </div>
        <div class="modal-body">
          <%= link_to "CSV",
                equip_path(format: :csv), class: "btn btn-primary"%> OR
          <%= link_to "PDF",
                equip_res_path(format: :pdf), target: 'blank', class: "btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
    <div id="itemsList"><%= render 'items' %></div>
</div>
