<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <h2>
    <%= @item.propertyNumber %>
  </h2>
  <h3>
    <%= @item.name %>
  </h3>
  <h4>
    <%= @item.category %>
  </h4>
  <%= link_to "Edit", edit_item_path(@item), class: "btn btn-primary" %>
  <%= link_to "Delete", item_path(@item), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div
