<header id="main-header" class="py-2 bg-success text-white mb-3 p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i data-feather="speaker"></i> Course</h1>
        </div>
      </div>
    </div>
  </header>
