<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <h3>
    <%= @course.name %>
  </h3>
  <%= link_to "Edit", edit_course_path(@course), class: "btn btn-primary" %>
  <%= link_to "Delete", course_path(@course), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div
