@import "bootstrap";
@import "feathericon";


html {
  background-color: grey;

}
body {
  font-family: 'Nunito', sans-serif;
  background-color: grey;
  margin: 0;
  padding: 0;
}

.card-calendar {
  background-color: white
}

.res {
  font-size: 14.2px;
  padding-left: 1px;
  padding-right: 1px;
}

.logo {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 1200px;
}

.banner {
  padding-top: 50px;
  padding-left: 100px;
}

/* Size of icons */

.feather {
  width: 65px;
  height: 65px;
  vertical-align: text-bottom;
}

.small {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
}

.medium {
  width: 25px;
  height: 25px;
  padding-bottom: 2px;
}

.navigationBar {
  /* background-image: '/static/2017.jpg'; */
  font-family: californian fb;
  min-height: 55px;
  font-size: 40px;
  padding-top: 10px;
}

.navigationBar a {
  text-decoration: none;
  color: maroon;
}

.navigationBar2 {
  background-color: rgb(128, 0, 0);
  min-height: 50px;
}

.navigationBar3 {
  background-color: rgb(70, 0, 0);
  min-height: 45px;
}

.dropDown {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.Buttons {
  background-color: inherit;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: Georgia;
  cursor: pointer;
  width: 18vw;
}

.Buttons1 {
  background-color: inherit;
  /* float: left; */
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: Georgia;
  cursor: pointer;
  width: 18vw;
}

.ButtonsHover1:hover {
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  border-bottom: 2px lightgray solid;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  text-decoration: none;
  width: 18vw;
  z-index: 1;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  border-right: 1px rgba(0, 0, 0, 0.2) solid;
  border-left: 1px rgba(0, 0, 0, 0.2) solid;
}

.dropDownContent a {
  float: none;
  font-size: 18px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropDownContent a:hover {
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
  color: gold;
  background-color: maroon;
}

.dropDown:hover .dropDownContent {
  -webkit-transition-duration: 0.9s;
  /* Safari */
  transition-duration: 0.9s;
  display: block;
  border-top: 4px gold solid;
}

.Logo {
  position: absolute;
  border-radius: 1000px;
  right: 0;
  left: 43.7%;
  top: 65px;
  bottom: 0;
  background-color: white;
  border: 2px maroon solid;
  height: 13.1vw;
  width: 13.1vw;
}

@media screen and (max-width: 950px), sreen\0 {
  .navigationBar {
    font-size: 4vw;
    min-height: 45px;
  }
  .Buttons {
    font-size: 18px;
  }
  .Buttons1 {
    font-size: 13px;
  }
  .navigationBar3 {
    min-height: 35px;
  }
}

@media screen and (max-width: 650px), sreen\0 {
  .navigationBar {
    font-size: 4.5vw;
    min-height: 40px;
  }
  .Buttons {
    font-size: 14px;
  }
  .Buttons1 {
    font-size: 9px;
  }
  .dropDownContent a {
    font-size: 12px;
  }
  .navigationBar3 {
    min-height: 30px;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: gray;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.contents-section {
  background-color: #f5f5f5;
  /* border: 1px solid #dddddd; */
  padding: 0px;
  border-radius: 3px;
  padding: 10px
}

.blog-footer {
  bottom: 0;
  padding: 1rem 0;
  color: #999;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  /* overflow: hidden; */
  background-color: #f9f9f9;
  border-top: .02rem solid #e5e5e5;
  /* min-height: 400px; */
  float: left;
  width: 100%;
  background-color: rgb(31, 29, 24);
  /* background-repeat: no-repeat; */
  /* background-size: 450px; */
  /* background-position: 110%; */
  font-family: 'Nunito', sans-serif;
}

.input-shadow {
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

#container {
  min-height: 100%;
}

/* #body
   padding:10px;
   padding-bottom:70px;   /* Height of the footer
} */

#footer {
  /* position:absolute; */
  bottom: 0;
  width: 100%;
  height: 50px;
  /* Height of the footer */
  background-color: #f9f9f9;
  font-family: 'Nunito', sans-serif;
}

.shadow {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
}

.headerContainer {
  position: fixed;
  top: 0px;
  height: 90px;
  width: 100%;
  background-color: maroon;
  z-index: 1;
}

/* .btn {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2)
  } */

.Logo {
  border-radius: 1200px;
  background-color: white;
  border: 5px maroon solid;
  top: 0px;
}

.header {
  position: absolute;
  bottom: 10px;
  width: 100%
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.fillerHeaderContainer {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: maroon;
}

.links {
  color: white;
  font-size: 20px;
}

.links:link {
  text-decoration: none;
}

.links:visited {
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.links:active {
  text-decoration: underline;
}footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

select {
  width: 100%;
  height: 35px;
  border: 1px solid lightgray;
  background-color: white;
  color: darkslategray;
  padding-left: 15px;
}

.badge { background-color: gray; }
.text-centered { text-align: center }

.disabled {
  pointer-events: none;
  cursor: default;
}
