$default-light-gray: #bfbfbf;
$default-gray-v2: #9ba3a9;
$default-gray: #5f5f5f;
$default-max-width: 1370px;
$default-blue: #00a6e0;
$default-darker-blue: #08bbb6;
$default-orange: #f18521;
$default-white: #ffffff;
$default-orange-text: #ff901f;
$default-light-green: #7dea94;
$default-green: #11ed97;
$hover-gray: #f8f8f8;
$default-red: #f44242;
$default-black: #050505;
$background-light-gray: #f3f3f3;
$text-gray: #626262;
$default-black: #040405;
$default-btn:#FF8304;
$default-btn-hover:#f99c04;

$default-messenger-gray: #F8F8F8;
$default-messenger-blue: #1787FB;
$default-messenger-bubble-gray: #F1F0F0;

$default-green-btn: #3adb76;
$default-fb-color: #3b5998;

$extend-container-color: #004957;
