@import 'default-colors.scss';
@import "bootstrap";
@import "feathericon";


.highlight-bold {
  font-weight: bold;
}

.highlight-text {
  color: maroon;
  font-weight: normal;
  &--red {
    color: $default-red;
  }
}
.highlight-hashtag {
  color: $default-orange;
}
.link {
  text-decoration: none;
  color: $default-blue;
}

body {
  font-family: arial, sans-serif;
}

.logo-container {
  .logo {
    background-image: asset-url('pup-logo.png');
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-top: 30px;
  }
  .name {
    text-align: center;
    color: maroon;
    font-size: 1.6rem;
    margin: 15px 0;
  }
}
.email-wrapper {
  color: $text-gray;
  text-align: center;
  width: 100%;
  .confirmation {
    padding: 30px 0;
    text-align: center;
    background-color: $background-light-gray;
    margin: 0 auto;
    width: 700px;
    .greetings {
      font-size: 1.3rem;
      color: $text-gray;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .info {
      margin: 0;
      &--with-margin {
        margin: 10px;
      }
    }
  }
  .content-container {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    max-width: 900px;
    .details {
      padding: 20px;
      border-bottom: 1px solid $default-light-gray;
      margin-bottom: 10px;
      &--default-width {
        width: 660px;
      }
      .trip-label {
        margin: 20px 0;
      }
      .reservation-info {
        margin-bottom: 40px;
        p {
          margin: 5px 0;
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
