<div class="row">
<div class="col-2"></div>
<%= simple_form_for @organization, :html => {class:"form-horizontal pt-3 col-8 align-center content-section", role:"form"} do |f| %>
<div class="form-group">
  <div class="form-row">
    <div class="form-inline col-3">
      <h5 class="pb-2">
        <b><%= f.label :name, label: 'Organization Name' %></b>
      </h5>
    </div>
    <div class="col-9">
      <%= f.input :name, label: false, input_html: {autocomplete: 'off'} %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-row">
    <div class="form-inline col-3">
      <h5 class="pb-2">
        <b><%= f.label :course, label: 'Course' %></b>
      </h5>
    </div>
    <div class="col-9">
      <%= f.input :course, collection: Course.order(:name), label: false, prompt: " " %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-row">
    <div class="form-inline col-3">
      <h5 class="pb-2">
        <b><%= f.label :facultyInCharge, label: 'Faculty In-charge' %></b>
      </h5>
    </div>
    <div class="col-9">
      <%= f.input :facultyInCharge, collection: Professor.order(:name), label: false, prompt: " " %>
    </div>
  </div>
</div>
<%= f.button :submit, class: "btn-success float-right", value: "Submit" %>
<%= link_to "Back", organizations_path, class: "btn btn-secondary  mr-2 float-right"%>

<% end %>
<div class="col-2"></div>
</div>
