<header id="main-header" class="py-2 bg-info text-white mb-3" style="background-color: maroon">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i data-feather="users"></i> Organizations</h1>
        </div>
      </div>
    </div>
  </header>
