<div class="row">
<div class="col-2"></div>
<%= simple_form_for @organization, :html => {class:"form-horizontal pt-3 col-8 align-center content-section", role:"form"} do |f| %>
<div class="form-group">
  <div class="form-row">
    <div class="form-inline col-3">
      <h5 class="pb-2">
        <b><%= f.label :name, label: 'Organization Name' %></b>
      </h5>
    </div>
    <div class="col-9">
      <%= f.input :name, label: false, input_html: {autocomplete: 'off'} %>
    </div>
  </div>
</div>
<%= f.button :submit, class: "btn-success float-right", value: "Submit" %>
<% end %>
<div class="col-2"></div>
</div>
