<table class="table table-striped">
  <tr>
    <th>Organization</th>
    <th>Course</th>
    <th>Faculty</th>
    <th colspan="2"></th>
  </tr>
<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= Course.find(organization.course).name if organization.course %></td>
    <td><%= Professor.find(organization.facultyInCharge).name if organization.facultyInCharge %></td>
    <td>
        <% if organization.course == nil %>
          <%= link_to editNonAcad_path(organization), class: "btn btn-sm btn-primary" do %>
            <span class="small" data-feather="edit-2"></span> Edit
          <%end%>
        <% else %>
          <%= link_to edit_organization_path(organization), class: "btn btn-sm btn-primary" do %>
            <span class="small" data-feather="edit-2"></span> Edit
          <% end %>
        <% end %>
        <%= link_to "Delete", organization_path(organization), method: :delete,\
             data:{confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @organizations, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
