<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <%= render 'layouts/messages' %>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
    <%= form_tag organizations_path, method: :get, class: "form-group", remote: true do %>
        <%= text_field_tag :search_trips, nil,class: "form-control", placeholder: "Search..", autocomplete: :off %>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
    <h4>
      <%= link_to non_acad_path, class: "btn btn-primary float-right ml-2"  do %>
        <span class="small" data-feather="plus"></span> Add Non-Academic Organization
      <% end %>
    <a href="/organizations/new" class="btn btn-success float-right">
    <span class="small" data-feather="plus"></span>
      Add Organization</a>
    </h4>
    <button type="button" class="btn btn-info btn-lg mb-2" data-toggle="modal" data-target="#equipmentExport"><span class="medium" data-feather="external-link"></span> Export All</button>
    <div class="modal fade" id="equipmentExport" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content text-centered">
        <div class="modal-header text-centered">
          <h4 class="modal-title">Export via</h4>
        </div>
        <div class="modal-body">
          <%= link_to "CSV",
                org_csv_path(format: :csv), class: "btn btn-primary"%> OR
          <%= link_to "PDF",
                org_path(format: :pdf),target: 'blank', class: "btn btn-danger"%>
        </div>
      </div>
    </div>
  </div>
    </div>
    <div id="orgsList"><%=render 'orgs' %></div>
  </div>
</div>
