<%= render 'layouts/navbar' %>
<%= render 'header' %>
<%= render 'layouts/messages' %>
<div class="container">
  <h2>
    <%= @organization.name %>
  </h2>
  <h3>
    <%= @organization.course %>
  </h3>
  <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-primary" %>
  <%= link_to "Delete", organization_path(@organization), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div>
