<div class="container" >
  <footer class="footer" style="color:white">
    <small>
      <a href="" style="color:white">Online Facility and Equipment Reservation System</a>
      by <a href="" style="color:white"> BSIT 4-1</a>
    </small>
    <nav>
      <ul>
        <li > <% unless user_signed_in? %>
          <small class="float-left" ><%= link_to "Admin", admin_login_path, style:"color:white"%></small>
          <% else %>
          
          <% end %>
        </li>
      </ul>
    </nav>
  </footer>
</div>
