<div class="headerContainer pb-5 mb-5" style="z-index: 100">
    <div class="logo mt-2 ml-4">
      <%= image_tag("Logo.png", width: '75px',height: "75px")%>
    </div>
    <span class="header banner">
      <h3 class="banner pl-2">
      <font face="Century Gothic"><a href="/" style="color: white;" >Polytechnic University of the Philippines - San Juan Campus
          <br>Online Equipment and Facilities Reservation System
        </a></font>
      </h3>
    </span>
</div>
