<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a href="/admin" class="navbar-brand">PUPSJ-OEFRS</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a href="/users" class="nav-link">Users</a>
        </li>
        <li class="nav-item px-2">
          <a href="/reservations" class="nav-link">Reservations</a>
        </li>
        <li class="nav-item px-2">
          <a href="/equipment" class="nav-link">Equipment</a>
        </li>
        <li class="nav-item px-2">
          <a href="/facilities" class="nav-link">Facilities</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Miscellaneous
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Professors", professors_path, class: "dropdown-item" %>
              <%= link_to "Field Of Study", field_of_studies_path, class: "dropdown-item" %>
              <%= link_to "Course", courses_path, class: "dropdown-item" %>
              <a href="/organizations" class="dropdown-item">Organizations</a>
            </div>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"%>
        </li>
      </ul>
    </div>
  </div>
</nav>
