<div class="contents-section col-sm-12 col-lg-3 mb-2 h-25 shadow p-4" style="background-color: maroon;">
  <h1 class="h2" style="color: white">Menu
    <hr class="bg-white">
  </h1>
  <div class="">
    <h5>
      <font face="Century Gothic" ><a href="/student/dashboard" style="color: white;">Dashboard</a></font>
    </h5>
    <h5>
      <font face="Century Gothic" ><a href="/student/messages" style="color: white;">Notification</a></font>
    </h5>
  </div>
  <h5>
    <font face="Century Gothic" ><a href="/student/calendar" style="color: white;">Calendar</a></font>
  </h5>
  <h5>
    <font face="Century Gothic" ><a href="/student/item_list" style="color: white;">Equipment</a></font>
  </h5>
  <h5>
    <font face="Century Gothic" ><a href="/student/facility_list" style="color: white;">Facilities</a></font>
  </h5>
  
  <div>
    <h5>
  <font face="Century Gothic" ><%= link_to 'Log out', destroy_user_session_path, method: :delete, style: 'color:white' %></font></h5>
  </div>
</div>
