<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="">
  <b style="font-size:50px"><h2 style:'color:white; font-size:50px'>Welcome <%= current_user.firstName %></b> <i class="fa fa-user" style="font-size:55px"></i></h2>
</div>
