<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>
  <% @fieldOfStudies&.each do |fieldOfStudy| %>
  <tr>
    <td><%= fieldOfStudy.name %></td>
    <td>
        <%= link_to edit_field_of_study_path(fieldOfStudy), class: "btn btn-primary btn-sm float-right" do %>
          <span class="small" data-feather="edit-2"></span> Edit
        <% end %>
    </td>
    <td>
      <%= link_to "Delete", field_of_study_path(fieldOfStudy), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger btn-sm float-left" %>
    </td>
  </tr>
<% end %>
</table>
<ul class="apple_pagination mt-2">
<%= will_paginate @fieldOfStudies, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
