<%= render 'layouts/navbar' %>
<%= render 'header' %>
<div class="container">
  <h3>
    <%= @fieldOfStudy.name %>
  </h3>
  <%= link_to "Edit", edit_field_of_study_path(@fieldOfStudy), class: "btn btn-primary" %>
  <%= link_to "Delete", field_of_study_path(@fieldOfStudy), method: :delete, data: { confirm: "Are you sure? "},class: "btn btn-danger" %>

</div>
